body{
	background: #72bef1;
}

div.weibo-article{
	width: 600px;
	height: 325px;
	margin: 60px auto;
	background: #fff;
	border-radius: 4px;
}

div.weibo-article-content{
	padding: 20px 20px 0px;
	float: left;
	height: 285px;
	border-bottom: 1px solid #eee;
}

div.weibo-article-content-left{
	position: absolute;
	float: left;
}

div.weibo-article-content-right{
	float: left;
	position: relative;
	margin-left: 80px;
}

div.weibo-article-content-right h2{
	margin: 5px 0px;
	font-size: 16px;
}

div.weibo-article-content-right .verify{
	position: absolute;
	float: left;
}

div.weibo-article-content-right .verify-icon{
	width: 24px;
	height: 24px;
	position: relative;
	float: right;
	background-image: url('../img/icon.png');
	background-position: -22px 0px;
}
