@charset 'utf-8';

@font-face {
  font-family: 'wbficonregular';
  src: url('../fonts/wbficon.eot'); /* IE9 Compat Modes */
  src: url('../fonts/wbficon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/wbficon.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/wbficon.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/swbficon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/swbficon.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weightaa: normal;    
	font-style: normal;
}


body{
	background: #72bef1;
	font-family: arial,'微软雅黑',sans-serif;
}

li,a{
	color: #808080;
	text-decoration: none;
}

a:hover{
	color: #eb7350;
}

div.weibo-article{
	width: 600px;
	height: 100%;
	margin: 60px auto;
	background: #fff;
	border-radius: 4px;
}

div.weibo-article-content{
	padding: 20px 20px 0px;
	float: left;
	height: 95%;
	border-bottom: 1px solid #eee;
}

div.weibo-article-content-left{
	position: absolute;
	float: left;
}

div.weibo-article-content-right{
	float: left;
	position: relative;
	margin-left: 80px;
}

.meta{
	font-size: 12px;
	margin-bottom: 5px;
}

div.weibo-article-content-right h2{
	margin: 5px 0px;
	font-size: 14px;
	font-weight: 700;
}

div.weibo-article-content-right .drop-down:before{


}

div.weibo-article-content-right .drop-down{
	float: right;
 	position: absolute;
 	right: 0px;
 	top:0px;
}


div.weibo-article-content-right .verify{
	position: absolute;
	float: left;
}

div.weibo-article-content-right .verify-icon{
	width: 24px;
	height: 24px;
	position: relative;
	float: right;
	background-image: url('../img/icon.png');
	background-position: -22px 0px;
}

.post p{
	font-size: 14px;
}

.post ul{
	position: relative;
	width: 340px;
	list-style: none;
	padding-left: 0px;
}

.post ul li{
	display: inline;
}

.post ul li img{
	width:110px;
	height:110px;
}

.weibo-article-footer ul{
	position: relative;
	list-style: none;
	padding-left: 0px;
	clear: both;
}


.weibo-article-footer ul li{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px 5px 15px;

}

.weibo-article-footer ul li a{
	font-size: 14px;

}

